# Python virtual environment
/venv/
/.venv/
venv/

# Python cache
__pycache__/
*.pyc

# OS files
.DS_Store

# Audio temp files
*.wav
*.mp3
*.flac

# Logs
*.log

#model
vosk-model-small-hi-0.22/
*.zip

